*{
  margin: 0;padding:0;
  overflow-x:hidden;
}

body{
  width:100%;
  height:auto;
  background: linear-gradient(0deg, rgba(18,86,179,1) 0%, rgba(179,199,221,1) 40%, rgba(243,244,237,1) 70%, rgba(255,252,240,1) 100%);
}

.cont1{
  width:auto;
  height:auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont2{
  width:auto;
  height:auto;
    padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video{
  width:auto;
  height:auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont3{
  width:auto;
  height:auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
